/* ============variables============ */
:root {
    --ani-hover: background-color .2s ease;

    &[data-theme="dark"] {
        --icon-theme:   url('assets/dark.svg');   /* dark theme default */
        --bg-color:     #3c3c3c;
        --bg-subcolor:  #a9a9a9;
        --txt-color:    #f3f3f3;
    }
    &[data-theme="light"] {
        --icon-theme:   url('assets/light.svg');
        --bg-color:     #f5deb3;
        --bg-subcolor:  #ffbf00;
        --txt-color:    #3e3e3e;
    }
}
/* ================================= */


* {
    margin: 0;
    padding: 0;
}
html,
body {
    background-color: var(--bg-color);
    height: 100%;
    font-family: monospace;
    transition: var(--ani-hover);
}
body {
    display: grid;
    grid-template-rows: 10% 1fr 8%;
}
a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    & > input[type="button"] {
        border: none;
        border-radius: 50%;
        background: var(--icon-theme) no-repeat center;
        height: 24px;
        padding: 1.5rem;

        opacity: .3;
        transition: opacity .2s ease;

        &:hover {
            border: 2px solid var(--txt-color);
            opacity: 1;
            background-color: var(--bg-subcolor);
        }
    }
}
main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    & > aside {
        align-content: center;
        opacity: .3;

        &:hover {
            opacity: 1;
            display: block;
        }

        #index-proxyerium {
            & > li {
                position: relative;

                text-align: center;
                background-color: aquamarine;
                padding: .3rem 0;

                &:hover {
                    text-decoration: underline;

                }
            }
        }
    }

    #note {
        margin: auto;

        background-color: var(--bg-subcolor);
        width: min(500px, 60vw);
        border-radius: 2px;
        box-shadow: 4px 5px 4px;
        font-size: 18px;
    
        text-align: center;
    }
}
footer {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0 .5rem;

    color: var(--txt-color);
    opacity: .3;
    transition: opacity .1s ease;

    &:hover {
        opacity: 1;
        background-color: var(--bg-subcolor);
    }

    > section {
        flex: auto;
        font-size: 12px;
    }
    > nav {
        flex: auto;
        max-width: 30%;

        display: flex;
        justify-content: flex-end;

        > a {
            margin: auto 8px;
            transition: var(--ani-hover);

            &:hover {
                background-color: var(--bg-subcolor);
            }
        }
    }
}
