/* ============variables============ */
:root {
    /* dark theme default */
    --bg-color: #3c3c3c;
    --bg-subcolor: #a9a9a9;
    --txt-color: #f0f8ff;

    --opacity-hide: .3;
}

* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

html, body{
    background-color: var(--bg-color);
    height: 100%;
    font-family: monospace;
    transition: background-color .2s ease;
}
body {
    display: grid;
    grid-template-rows: 10% 1fr 8%;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
footer {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0 1rem;

    color: var(--txt-color);
    opacity: var(--opacity-hide);
    transition: opacity .3s ease;
    &:hover {
        opacity: 1;
        background-color: #1c1c1c;
    }

    > section {
        flex: auto;
        font-size: 12px;
    }
    > nav {
        flex: auto;
        max-width: 30%;

        display: flex;
        justify-content: flex-end;

        > a {
            margin: auto 8px;

            &:hover {
                background-color: var(--bg-subcolor);
            }
        }
    }
}

#topbar {
    
}
#cover {
    background-color: var(--bg-subcolor);
    padding: 1rem;
    border-radius: 2px;
    box-shadow: 4px 5px 4px;

    text-align: center;
}
#button-theme {
    border: none;
    background: url("assets/dark.svg") no-repeat center;
    width: 24px;
    height: 24px;
    padding: 1.5rem;

    opacity: var(--opacity-hide);
    transition: opacity .3s ease;
    &:hover {
        opacity: 1;
        border: 2px solid var(--bg-subcolor);
        border-radius: 50%;
        background-color: #1c1c1c;
    }
}
