html, body{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #3c3c3c;
    height: 100%;

}

header {
    flex: auto;

    background-color: darkgray;
    padding: 2rem;
    border-radius: 2px;
    box-shadow: 4px 5px 4px;

    text-align: center;
    font-family: monospace;
}
